.metric-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  border-color: white;
}

.metric-card h2 {
  margin: 0;
  font-size: 18px;
}

.metric-card p {
  margin-top: 12px;
  font-size: 32px;
  font-weight: bold;
}